@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&family=Baloo+2&display=swap');

h1 { text-align: center;
    font-family: 'Arima Madurai', cursive;
}
p { font-family: 'Zen Antique', serif;
}

.text1 { display: flex;
    justify-content:flex-start ;
    margin-right:10px ;
}

.menu1 {
    padding: 5px;
    background-color: white;
    display: flex;
     justify-content:space-around ;    
    font-family: 'Zen Antique', serif;    
}
.line{ margin: 15px;
}

.img2{  display: block;
  margin-left: auto;
  margin-right: auto; 
    
}

img{ width: 400px;
}

.text2 { display:flex;
    justify-content:flex-end ;
        margin-right:10px ;
}
.img3{  display: block; 
  margin-right: 10px; 
   
}
.footer { text-align:center ;   
}

a {
  color: black;
}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: black;
} 

p  {
  font-weight: 400;
}

p  {
  margin-top: 25px;
}


